<form method="get" action="">
    <div class="form-group mt-4">
        <label for="search-input">Key search</label>
        <input type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp"
            placeholder="Enter key">
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>